:root {
    --primary: hsl(172, 67%, 45%);
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayCyan: hsl(186, 14%, 43%);
    --lightGrayCyan: hsl(185, 41%, 84%);
    --lightCyan: hsl(185, 70%, 84%);

    --lightgray: hsl(185, 41%, 93%);
    --white: hsl(0, 0%, 100%);
    font-family: monospace;
}

body {
    background-color: var(--lightGrayCyan);
    font-size: 24px;
}

header {
    color: var(--veryDarkGrayCyan);
    letter-spacing: 6px;
    font-weight: 400;
    text-align: center;
}

.left-section {
    transform: translate(50px, 5%);
}
.right-section {
    display: grid;
    grid-gap: 20px;
    grid: repeat(6, 60px) / auto-flow;
    border-radius: 20px;
    transform: translate(260px, 10%);
    height: 500px;
    width: 500px;
    background-color: var(--veryDarkCyan);
    color: var(--lightGrayCyan) ;
}

.container {
    transform: translate(100px, 5%);
    display: flex;
    height: 600px;
    width: 1200px;
    background-color: var(--white);
    border-radius: 25px;
    box-shadow:  0 0 10px 10px rgba(64, 122, 136, 0.1);
}

.enterTotal, input {
    border-radius: 3px;
    background-color: var(--lightgray);
    color: var(--darkGrayCyan);
    border: none;

}

.tipButtons {
    display: grid;
    grid-gap: 20px;
    grid: repeat(2, 80px) / auto-flow;
}

.grid-item {
    border: none;
    border-radius: 5px;
    font-family: monospace;
    width: 120px;
    height: 50px;
    color: white;
    background-color: var(--veryDarkCyan);
    font-size: 25px;
    font-weight: 540;
}

#customTip {
    width: 120px;
    background-color: var(--lightgray);
    color: var(--darkGrayCyan);
}

.per-person {
    font-size: 10px;
    font-weight: 200;
}

.totals {
    color: var(--primary);
    font-size: 45px;
    font-weight: 500;
    transform: translate(60%, -80px);
}

#resetBtn {
    display: flex;
    justify-content:;
}